*{
    
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins' ,sans-serif ;
    text-decoration: none;
}
.collapse{
    margin: auto;
    margin-left: 50rem;
    justify-content: space-between;
}
.header{
    width: 100%;
    height: 700px;
}
.navbar-collapse {
    z-index: 100;
       background-color: transparent;
color: white;
}
.nav-item a{
    color: white;
      background-color: transparent;
}

  .container-project{
    width: 100%;
    height: auto;
  }
.nav-bar{
    background-color: transparent;
color: white;
}
.home-image{
  
    z-index: -1;
    background-image: url("image/wallpaper.jpg");
    background-size: cover;
}
.home-content {  
   display: flex;
   flex-direction: column;
 
   /* text-align: center; */
   /* text-align: start; */
margin: 230px 0px 0px 00px;
font-size: large;

}
.home-content button{ 
    
    border-radius: 8px;
   flex-direction: column;
   position: absolute;
   text-align: center;
   
margin: 230px 0px 0px 245px;
font-size: large;
}
.more{
    text-decoration: none;
}
.responsive-text{
    max-width: 300px;
    margin: 100px 0px 50px 0px;
}
.align-items-centre{
    align-items: center;
}
.skills{
    margin: auto;
}
   
.services{
display: flex;
justify-content: center;
justify-content: space-between;
}
.error {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}